# Build output
/build
/captures

# Gradle files
.gradle/

# Local properties file (sdk.dir)
local.properties

# Android Studio and IntelliJ project files
*.iml
.idea/
.DS_Store

# Native build files
.cxx/
.externalNativeBuild/

# Binary files
*.apk
*.aab
*.jar
*.so
*.dex
*.class

# Keystore files
*.jks
*.keystore

# Log files
*.log
